body {
    background-image: url(../images/8.jpg);
}

span{
    color: white;
}

#groupchat{
    border: 1.8px solid black;
    border-radius: 10px;
}

.middle-left {
    color: blue;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    
}

.middle-right {
    color: red;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

#people-connected {
    margin: 50px 0px 0px 0px;
    text-shadow: 0 0 3px #000, 0 0 5px #444;
}

#currentTime {
    border: 1.8px dotted white;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    float: right;

}